<!-- inside #internal-ui -->
<header class="bar">
  <div class="container">
    <a class="logo" href="http://www.tokbox.com" target="_blank">OpenTok</a>
    <p class="lesson-title">OpenTok Basics</p>
    <!-- TODO: fancy tooltip hover -->
    <nav class="links">
      <a href="https://dashboard.tokbox.com" target="_blank" title="Sign up for your own API Key">Dashboard</a>
      <a href="http://tokbox.com/opentok/webrtc/docs/js/reference/index.html" title="Read the full documentation">Docs</a>
    </nav>
  </div>
</header>
<div class="container">
  <div class="output">
  </div>
</div>
<!-- end #internal-ui -->
