<!-- inside #internal-ui -->
<div>
  <div class="container">
    <!-- TODO: image replace with logo -->
    <a class="logo" href="http://www.tokbox.com" target="_blank">OpenTok</a>
    <p>Codecademy Lesson</p>
    <!-- TODO: fancy tooltip hover -->
    <a href="https://dashboard.tokbox.com" target="_blank" title="Sign up for your own API Key">Dashboard</a>
    <a href="http://tokbox.com/opentok/webrtc/docs/js/reference/index.html" title="Read the full documentation">Docs</a>
  </div>
</div>
<div>
  <p class="output"></p>
</div>
<!-- end #internal-ui -->
